openapi: 3.1.0
info:
  title: Diamond Search IDEX Data API - Report 3 Fullfeed Labgrownfullfile API
  description: API for retrieving data report 3 in CSV format.
  version: 1.0.0
servers:
- url: https://api.idexonline.com/idexdataapi/api
tags:
- name: Labgrownfullfile
paths:
  /labgrownfullfile:
    post:
      summary: Diamond Search Download Complete Lab Grown File
      description: 'Fetch a zipped CSV file containing lab-grown diamond data based on specified parameters.

        '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - authentication_details
              - parameters
              properties:
                authentication_details:
                  type: object
                  required:
                  - api_key
                  - api_secret
                  properties:
                    api_key:
                      type: string
                      example: HNNSSA1223311
                    api_secret:
                      type: string
                      example: DDccdaaedf123
                parameters:
                  type: object
                  required:
                  - data_format
                  properties:
                    data_format:
                      type: string
                      example: format_lg_20221130
      responses:
        '200':
          description: Zipped CSV file successfully retrieved.
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '500':
          description: Error occurred during processing.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result_info:
                    type: object
                    properties:
                      response_code:
                        type: integer
                        example: 32110
                      response_description:
                        type: string
                        example: A description of the exception.
      tags:
      - Labgrownfullfile
